.card {
  text-align: center;
}

.containCard {
  justify-content: center;
  width: 100%;
}

.card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

#rouge {
  color: #dc0c0b;
}

.column {
  flex-direction: column;
}

.containP {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.petitP {
  width: 300px;
}

.grandP {
  width: 500px;
}

.imageProfile {
  height: 212px;
  width: 353px;
  background-image: url("../../img/logo.png");
  background-position: center;
  background-repeat: no-repeat;
}

.containProfile {
    background-image: url("../../img/logo1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Profile {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245) !important;
    margin:  40px auto !important;
  }

  .cardInCard {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
  }

  .cardProfile {
    width: 48%;
  }