.card {
    text-align: center;
}

.containCard {
    justify-content: center;
    width: 100%;
    display: flex;
}

.card-action {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

#rouge {
    color: #DC0C0B;
}

.column {
    flex-direction: column;
}

.containP {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.petitP {
    width: 300px;
}

.grandP {
    width: 500px;
}