.card {
    text-align: center;
}

.containCard {
    justify-content: center;
    width: 100%;
    display: flex;
}

.card-action {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

#rouge {
    color: #DC0C0B;
}

.column {
    flex-direction: column;
}
