.navbarContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.bleu {
  color: #1d488a;
}

.bleuB {
  background-color: #1d488a;
}

.rouge {
  color: #dc0c0b;
}

.blanc {
  color: #fffdff;
}

nav {
  padding: 0 5%;
}

.Link {
  margin: 0 25px;
}

.uplogo {
  background-image: url("../../img/logof.png");
  background-repeat: no-repeat;
  height: 134px;
  width: 119px;
  background-position: revert;
}

.logoNavBar {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
}
