.navbarContainer {
    display: flex;
    flex-direction: row;
    background-color: rgb(231, 231, 231);
    border-bottom: 2px solid rgb(231, 231, 231);
    height: 40 px;
    width: 25 vw;
}

.companyName {
    flex: 1;
}

.navbarLinks {
    flex: 2;
}

.bleu {
    color: #1D488A;
}

.bleuB {
    background-color: #1D488A;
}

.rouge {
    color: #DC0C0B;
}

.blanc {
    color: #FFFDFF;
}

nav {
    padding: 0 5%;
}

.Link {
    margin: 0 25px;
}