.navbarContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.bleu {
    color: #1D488A;
}

.bleuB {
    background-color: #1D488A;
}

.rouge {
    color: #DC0C0B;
}

.blanc {
    color: #FFFDFF;
}

nav {
    padding: 0 5%;
}

.Link {
    margin: 0 25px;
}

.uplogo {
    background-image: url("../../img/petitlogo.png");
    height: 64px;
    width: 107px;
    background-position: center;
    background-size: auto;

}

.logoNavBar {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
}